<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find aubo_moveit_config)/config/joint_names.yaml"/>

  <arg name="sim" default="false" />
  <arg name="robot_ip"/>
  <arg name="use_gui" default="false" />

  <include file="$(find aubo_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <node pkg="aubo_controller" type="aubo_robot_simulator" name="aubo_robot_simulator"/>
  <node pkg="aubo_controller" type="aubo_joint_trajectory_action" name="aubo_joint_trajectory_action"/>
  <node name="aubo_driver" pkg="aubo_driver" type="aubo_driver" >
  <param name="/server_host" type="str" value="$(arg robot_ip)"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg use_gui)"/>
    <rosparam param="source_list">[/move_group/joint_states]</rosparam>
  </node>
  <include file="$(find aubo_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find aubo_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>
